.App {
width: 100%;
height: 100vh;
background: rgb(250, 250, 250);
color: #212121;
font-family: "Open Sans", sans-serif;
display: grid;
place-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.joinChatContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.joinChatContainer input {
    width: 500px;
    height: 50px;
    margin: 7px;
    border: 2px solid #202abe;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.joinChatContainer select {
    width: 500px;
    height: 50px;
    margin: 7px;
    border: 2px solid #202abe;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.joinChatContainer button {
    width: 500px;
    height: 50px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #202abe;
    color: #fff;
    cursor: pointer;
}

.joinChatContainer button:hover {
    background: #e21e17;
}
*/
body{
    margin: 0px;
	padding: 0px;
}